body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.3s;
}

body.dark-theme{
    background: #0000;
    color: #0F0;
}

body.light-theme{
    background: #0f0;
    color: #0000;
}

.btn{
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}